body{
    margin: -1.3rem 0px;
    padding: 0px;
    background-color: #50c5b7;
}
.navBar{
    
    background-color: #6185DB;
    padding: 0.09rem;
    color: #FFFF;
    font-family: sans-serif;
}
.navBar h2{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 0;
}
.canvas canvas{
  margin: 1rem
    
}
button{
    margin-left: 13rem;
}
.Canvas{
    margin-top: 0;
    
}
.btn{
    max-width: 20rem;
    margin-left: 7rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    font-family: Arial;
  

}
.btn button{
    border-radius: 3px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
   color:white;
   background-color:#6185DB;
   box-shadow:0 1px 0 rgba(0, 0, 0, 0.3);
    min-width: 10rem;
    max-width: 20rem;
    margin: 1rem;
}
.btn h1{
    
    color: #000000;
}
.canBtn{
    display: flex;
    flex-flow: row;
}
